<footer>
  <label>&copy; {{ currentYear }} {{ appName }}. Tots els drets reservats.</label>
  <div class="socials-container">
    <a class="icon-link" data-social="Email" style="--accent-color: #78B4D5;" href="mailto:siggames.official@gmail.com" target="_blank">
      <i class="fa-solid fa-envelope" aria-hidden="true"></i>
      <span class="sr-only">Email</span>
    </a>
    <a class="icon-link" data-social="Discord" style="--accent-color: #5865F2;" href="https://discord.gg/XAQUEgqP7x" target="_blank">
      <i class="fa-brands fa-discord" aria-hidden="true"></i>
      <span class="sr-only">Discord</span>
    </a>
    <a class="icon-link" data-social="LinkedIn" style="--accent-color: #0B69C7;" href="https://www.linkedin.com/company/siggames" target="_blank">
      <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
      <span class="sr-only">LinkedIn</span>
    </a>
    <a class="icon-link" data-social="Instagram" style="--accent-color: #C13584;" href="https://www.instagram.com/siggames.official" target="_blank">
      <i class="fa-brands fa-instagram" aria-hidden="true"></i>
      <span class="sr-only">Instagram</span>
    </a>
    <a class="icon-link" data-social="TikTok" style="--accent-color: #000000;" href="https://www.tiktok.com/@siggames.official" target="_blank">
      <i class="fa-brands fa-tiktok" aria-hidden="true"></i>
      <span class="sr-only">TikTok</span>
    </a>
    <a class="icon-link" data-social="GitHub" style="--accent-color: #333;" href="https://github.com/SIGGames" target="_blank">
      <i class="fa-brands fa-github" aria-hidden="true"></i>
      <span class="sr-only">GitHub</span>
    </a>
  </div>
</footer>
