<div class="header-container">
  <header
    id="header"
    [ngClass]="{'hidden': isHidden && !isAtTop}"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()">
    <a href="/" class="logo-link">
      <img src="assets/logo-white.png" alt="Logo de SIG Games" class="logo">
    </a>
    <nav>
      <ul>
        <li><a href="#about">Qui som</a></li>
        <li><a href="#games">Jocs</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#newsletter">Newsletters</a></li>
        <li><a href="#contact">Contacte</a></li>
      </ul>
    </nav>
  </header>
</div>
