<div id="home" class="home">
  <section>
    <h1>{{ appName }}</h1>
    <h2>Desenvolupadora de videojocs indie.</h2>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <i
      class="fas fa-chevron-down down-arrow"
      (click)="scrollToNextSection()"
    ></i>
  </section>
</div>

<div class="content">
  <app-home-navbar></app-home-navbar>
  <section id="about" class="section">
    <h2>Qui som</h2>
    <div class="card-element">
      <div class="card-content">
        <p>
          A {{ appName }}, ens dediquem a crear experiències de joc úniques. Som
          un petit equip apassionat per l'art de desenvolupar videojocs que
          emocionin i captivin els jugadors.
        </p>
      </div>
    </div>
    <div class="team-container">
      <div class="team-member">
          <a href="https://github.com/Abelitux" target="_blank">
            <img src="assets/team/abel-rounded.png" alt="Abel Pérez">
          </a>
          <h3>Abel Pérez</h3>
          <p>Art i màrqueting<br>{{ appName }}</p>
      </div>
      <div class="team-member">
          <a href="https://github.com/julianogales" target="_blank">
            <img src="assets/team/julia-rounded.png" alt="Júlia Nogales">
          </a>
          <h3>Júlia Nogales</h3>
          <p>Organització i disseny del videojoc</p>
      </div>
      <div class="team-member">
          <a href="https://github.com/Aniol0012" target="_blank">
            <img src="assets/team/aniol-rounded.png" alt="Aniol Serrano">
          </a>
          <h3>Aniol Serrano</h3>
          <p>Programador de<br>{{ appName }}</p>
      </div>
    </div>
  </section>

  <section id="games" class="section">
    <h2>Jocs</h2>
    <a href="/game/paco-monkey">
      <div class="card-element">
        <div class="card-content">
          <h3>PacoMonkey</h3>
          <img src="assets/paco-monkey.png" alt="PacoMonkey" />
          <p>
            Un joc de plataformes 2D amb art pixelat, on controles en Paco, un
            mico intrèpid en la seva aventura per recollir plàtans i evitar
            obstacles.
          </p>
        </div>
      </div>
    </a>
  </section>

  <section id="blog" class="section">
    <h2>Blog</h2>

    <a href="/blog/1">
      <div class="blog-card">
        <div class="card-content">
          <h3>Implementació del sistema de vida</h3>
          <p>
            Descobreix s'ha implementat el sistema de vida a PacoMonkey, tant per al jugador com per als enemics.
          </p>
        </div>
      </div>
    </a>

    <a href="/blog/2">
      <div class="blog-card">
        <div class="card-content">
          <h3>Com implementar el moviment del personatge principal a PacoMonkey</h3>
          <p>
            Un tutorial detallat sobre com hem implementat el moviment del personatge principal, amb codi d'exemple i bones pràctiques.
          </p>
        </div>
      </div>
    </a>

    <a href="/blog/3">
      <div class="blog-card">
        <div class="card-content">
          <h3>Disseny de nivells a PacoMonkey: Consells i bones pràctiques</h3>
          <p>
            Guia de disseny de nivells amb consells per crear nivells atractius i equilibrats per al teu joc 2D.
          </p>
        </div>
      </div>
    </a>
  </section>

  <section id="newsletter" class="section">
    <h2>Newsletters</h2>

    <div id="newsletter-link">
      <a href="subscribe"><h3>Subscriu-te</h3></a>
    </div>
    <div *ngFor="let newsletter of newsletters" class="card-element">
      <a [href]="'/newsletter/' + newsletter.id">
        <div class="card-content">
          <div class="newsletter-text-container">
            <div class="newsletter-title-container">
              <h3>#{{ newsletter.id }} | {{ newsletter.title }}</h3>
              <span>{{ newsletter.date }}</span>
            </div>
            <div class="newsletter-description-container">
              <p>{{ newsletter.description }}</p>
            </div>
          </div>
          <div class="newsletter-img-container">
            <img *ngIf="newsletter.img" [src]="newsletter.img" alt="{{ newsletter.title }}" class="newsletter-img">
          </div>
        </div>
      </a>
    </div>
    <div id="newsletter-link">
      <a href="/newsletter/0"><h3>Veure'n més...</h3></a>
    </div>
  </section>

  <section id="contact" class="section">
    <h2>Contacte</h2>
    <app-contact-form></app-contact-form>
  </section>
