<div id="home" class="hero">
  <section>
    <h1>{{ appName }}</h1>
    <h2>Desenvolupadora de videojocs indie.</h2>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <i
      class="fas fa-chevron-down down-arrow"
      (click)="scrollToNextSection()"
    ></i>
  </section>
</div>

<div class="content">
  <section id="about" class="section">
    <h2>Sobre nosaltres</h2>
    <div class="card-element">
      <div class="card-content">
        <h3>Qui som</h3>
        <p>
          A {{ appName }}, ens dediquem a crear experiències de joc úniques. Som
          un petit equip apassionat per l'art de desenvolupar videojocs que
          emocionin i captivin els jugadors.
        </p>
      </div>
    </div>
  </section>

  <section id="games" class="section">
    <h2>Jocs</h2>
    <div class="card-element" (click)="goToGameDetail('paco-monkey')">
      <div class="card-content">
        <h3>PacoMonkey</h3>
        <img src="assets/paco-monkey.png" alt="PacoMonkey" />
        <p>
          Un joc de plataformes 2D amb art pixelat, on controles en Paco, un
          mico intrèpid en la seva aventura per recollir plàtans i evitar
          obstacles.
        </p>
      </div>
    </div>
  </section>

  <section id="blog" class="section">
    <h2>Blog</h2>
    <div class="card-element">
      <div class="card-content">
        <h3>Últimes Notícies</h3>
        <p>
          Descobreix les últimes notícies, actualitzacions i darreres tendències
          del món dels videojocs directament dels nostres desenvolupadors i
          col·laboradors.
        </p>
      </div>
    </div>
  </section>

  <section id="team" class="section">
    <h2>Equip</h2>
    <div class="card-element">
      <div class="card-content">
        <p>
          Conoceix els creatius darrere dels nostres videojocs. Un equip de
          desenvolupadors talentosos, dissenyadors gràfics i especialistes en
          jugabilitat que porten la innovació al cor del joc.
        </p>
      </div>
    </div>
  </section>

  <section id="contact" class="section">
    <h2>Contacte</h2>
    <div class="contact-section">
      <form (ngSubmit)="sendEmail(contactForm)" #contactForm="ngForm">
        <div class="form-group">
          <div class="form-field">
            <label for="firstName">Nom<span id="red-star">*</span></label>
            <input type="text" id="firstName" name="firstName" ngModel required />
          </div>
          <div class="form-field">
            <label for="lastName">Cognoms</label>
            <input type="text" id="lastName" name="lastName" ngModel />
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email<span id="red-star">*</span></label>
          <input type="email" id="email" name="email" ngModel required />
        </div>
        <div class="form-group">
          <label for="message">Escriu un missatge<span id="red-star">*</span></label>
          <textarea id="message" name="message" rows="4" ngModel required="Has d'introduir un missatge"></textarea>
        </div>
        <button type="submit" [disabled]="!contactForm.valid || isSendBtnDisabled ">Enviar</button>
      </form>
    </div>
  </section>
</div>
