<div class="navbar" [ngClass]="{'near-footer': isNearFooter}">
  <a (click)="scrollToSection('#about')" class="nav-item">
    <div class="icon">
      <i class="fas fa-info-circle"></i>
    </div>
  </a>
  <a (click)="scrollToSection('#games')" class="nav-item">
    <div class="icon">
      <i class="fas fa-gamepad"></i>
    </div>
  </a>
  <a (click)="scrollToSection('#blog')" class="nav-item">
    <div class="icon">
      <i class="fas fa-pencil-alt"></i>
    </div>
  </a>
  <a (click)="scrollToSection('#newsletters')" class="nav-item">
    <div class="icon">
      <i class="fas fa-paper-plane"></i>
    </div>
  </a>
  <a (click)="scrollToSection('#contact')" class="nav-item">
    <div class="icon">
      <i class="fas fa-envelope"></i>
    </div>
  </a>
</div>
