html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.not-found-container {
  text-align: center;
  padding: 50px;
  flex: 1;
  min-height: calc(100vh - 195px) !important;
  flex-direction: column;
  justify-content: center;
}

.not-found-container h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-weight: bold;
}

.not-found-container p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: var(--primary-text-color-light);
}

.not-found-container .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: var(--accent-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.not-found-container .btn:hover {
  background-color: var(--accent-color-hover);
  transform: translateY(-2px);
}
