@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins-regular.woff2') format('woff2'),
       url('/assets/fonts/poppins-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cocon';
  src: url('/assets/fonts/cocon-regular.woff2') format('woff2'),
       url('/assets/fonts/cocon-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-bg-color: #f1f2f2;
  --primary-bg-color-light: white;
  --primary-text-color: #333132;
  --primary-text-color-light: #555;
  --accent-color: #684B9F;
  --accent-color-light: #a186dc;
  --accent-color-light-hover: #8471ad;
  --accent-color-hover: #563e8b;
  --default-icon-bg-color: transparent;
  --default-icon-size: 45px;
  --default-icon-padding: 0;
  --tooltip-text-color: white;
  --tooltip-padding: 4px 8px;
  --tooltip-border-radius: 4px;
  --tooltip-font-size: 0.8rem;
  --tooltip-offset: 40px;
  --icon-transition-duration: 0.3s;
  --tooltip-transition-duration: 0.3s;
}

/* General Styles */
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
  scroll-snap-align: start;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: start;
}

html, body {
  height: 100%;
  margin: 0;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "cocon", "Montserrat", sans-serif;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center;
  white-space: normal;
  max-width: 90%;
}

h1 {
  font-size: clamp(3rem, 2.4909rem + 3vw, 5.25rem);
}

h2 {
  font-size: clamp(2rem, 3.2545rem + 1.8182vw, 3.7rem);
}

@media (max-width: 620px) {
  h2 {
    font-size: 1.7rem;
  }
}
